.main{
    overflow-y: scroll;
    flex-basis: 100%;
    padding: 24px 32px;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.sidebar{
    width: 330px;
    background-color: #00204E;
    padding: 32px 20px; 
}